html, body, ul, li, a, div{
    margin: 0;
padding: 0;
border: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
 
 #navigation{
background-color:#330000;
 height:45px;
 width:850px;
 margin:0 auto;
 border:1px solid #330000;
}
ul#menu{
 list-style:none;
 margin-left:7em;
}
#menu a{
 text-decoration:none;
 font-size:1.8em;
 color:#ff1a1a;
}
#menu a:hover{
 text-decoration:underline;
 color:#ffe6e6;
}
#menu li{
     /*cu float facem lista sa "pluteasca", adica sa se alinieze horizontal*/
 float:left;
 padding:5px 15px 5px;
 text-align:center;
}